<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=DESKTOP-UELLOC9;Initial Catalog=Lab3_Week8;Integrated Security=true"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Airport" value="Airport"/>
		<add key="AirportPK" value="airportID"/>
		<add key="ChildTable" value="Apron"/>
		<add key="ChildPK" value="apronId"/>
		<add key="ChildFK" value="airportID"/>
		<add key="Airport_Select_All" value="SELECT * FROM Airport"/>
		<add key="Child_Select_All" value="SELECT * FROM Apron"/>
	</appSettings>
	<!--<appSettings>
		<add key="Airport" value="Airport"/>
		<add key="AirportPK" value="airportID"/>
		<add key="ChildTable" value="ATCTower"/>
		<add key="ChildPK" value="atcTowerID"/>
		<add key="ChildFK" value="airportID"/>
		<add key="Airport_Select_All" value="SELECT * FROM Airport"/>
		<add key="Child_Select_All" value="SELECT * FROM ATCTower"/>
	</appSettings>-->
</configuration>